Repository ivandotv/monorepo-test: changes, and which Codecov flags are due for each by the changed paths.
All: faker, two

codecov.yml:

flags:
  # filter the folder(s) you wish to measure by that flag
  faker:
    # only include files in the backend folder
    carryforward: true
    paths:
      - packages/faker/
  two:
    # only include files in the backend folder
    carryforward: true
    paths:
      - packages/two/

changesets first
  .changeset/README.md
  .changeset/config.json
  .changeset/hot-taxis-punch.md
  package.json
  yarn.lock
Due: none

add changelogs to packages
  .changeset/hot-taxis-punch.md
  packages/faker/CHANGELOG.md
  packages/faker/package.json
  packages/two/CHANGELOG.md
  packages/two/package.json
Due: faker, two

push test
  .github/workflows/CI.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  package.json
  packages/faker/package.json
Due: faker

Update dependency @rollup/plugin-commonjs to v19
  package.json
  yarn.lock
Due: none

Update dependency @rollup/plugin-node-resolve to v13
  package.json
  yarn.lock
Due: none

Update dependency lint-staged to v11
  package.json
  yarn.lock
Due: none

Update dependency del-cli to v4
  package.json
  yarn.lock
Due: none

Update dependency typedoc to ^0.22.0
  package.json
  yarn.lock
Due: none

Update actions/cache action to v3
  .github/workflows/CI.yml
Due: none

Update actions/checkout action to v3
  .github/workflows/CI.yml
Due: none
